#contentBox {
    display: flex;

}

#textbox {
    font-weight: 300;
    font-size: 23px;
    width: 50%;
}

#resume {
    text-decoration: none;
    color: black;
}

#image {
    float: right;
    width: 400px;
    height: 400px;
}