@media (max-width: 1300px) {
    .contact {
        width: 60%;
        margin-left: 50px;
      }
  }

@media (max-width: 980px) {
    .contact {
      width: 60%;
      margin-left: 100px;
    }
  }