#form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#message {
    height: 150px;
}

#submitBtn {
    margin-top: 15px;
    width: 75px;
    border: none;
    background-color: rgb(123, 123, 123);
    border-radius: 6px;
    color: white;
    padding: 6px;
}

#submitBtn:hover {
    background-color: rgb(160, 160, 160);
}

@media (max-width: 1300px) {
   #form {
       width: 100%;
   }
  }

/* @media (max-width: 980px) {
    #form
  } */