* {
  box-sizing: border-box;
}

.page {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 40px;
}

aside {
  float: left;
  width: 20%;
}

.pageContent {
  float: left;
  align-content: flex-end;
  width: 75%;
}

footer {
  float: left;
}

@media (max-width: 1666px) {
  .pageContent {
    float: left;
  }
}