* {
  box-sizing: border-box;
}

.page {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 40px;
}

aside {
  float: left;
  width: 20%;
}

.pageContent {
  float: left;
  align-content: flex-end;
  width: 75%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 644px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-left: 10px;
}

@media (max-width: 1666px) {
  .pageContent {
    float: left;
  }
}